<div id= "div-form">
    <h3>Lista Produtos</h3>

    <form id="formulario">
        <label for="descricao">Descrição Produto</label>
        <input type="text" name="descricao" id="descricao" [(ngModel)] = "descricao_produto">

        <label for="valor">Valor</label>
        <input type="text" name="valor" id="valor" [(ngModel)] = "valor_unitario">

        <div id="div-btn">
        <button type="button" id="btnAdd" (click)="addItem()">Adicionar</button>
        <button type="button" id="limpar" (click)="limparTudo()">Limpar Tudo</button>
        </div>
    </form>

    <div id="div-list">

        @for(elem of listaItens; track elem.idProduto){
            <div class="div-item" [ngClass] ="{'itemSelecionado': elem.statusSelecionado}">
            <input type="checkbox" [(ngModel)] = "elem.statusSelecionado">&nbsp;&nbsp;

            {{elem.idProduto}} - {{elem.descricaoProduto}} R$ {{elem.valorUnitario}}
            </div>
        }@empty{
            <div class="div-item">Nenhum Produtos na Lista</div>
        }
    </div>
    
</div>