<div id= "div-form">
    <h3>Lista Produtos</h3>

    <form id="formulario">
        <label for="descricao">Descrição Produto</label>
        <input type="text" name="descricao" id="descricao">

        <label for="valor">Valor</label>
        <input type="text" name="valor" id="valor">

        <div id="div-btn">
        <button type="button" id="btnAdd">Adicionar</button>
        <button type="button" id="limpar">Limpar Tudo</button>
        </div>
    </form>

    <div id="div-list">
        <div class="div-item">1 - Pão - 4,50</div>
        <div class="div-item">2 - Manteiga - 16,00</div>
        <div class="div-item">3 - Café - 12,80</div>
    </div>
    
</div>